# Compiled
*.elc

# Packaging
.cask
# piem wird per package-vc-install aus einem Git-Repo installiert (nested .git)
elpa/piem/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
projectile-bookmarks.eld

semanticdb/*